.container{
    max-width: 450px;
    height: auto;
    background-color: #efefef;
    margin: 4% auto;
    padding-bottom: 0;
}
.form_top{
    width: 100%;
    text-align: center;

}

.form_top h2{
    font-weight: bold;
    font-size: 18px;
    color: #34434f;
}

.form_reg{
    
    padding: 0 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.btn_form{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#descripcion{
    min-width: 380px;
    max-width: 380px;
    min-height: 50px;
    max-height: 50px;   
}

.input, .btn_submit, .btn_reset, #estado, #descripcion {
   background-color: #efefef;
   padding: .2rem;
   margin: .3rem 0;
   border:none;
   border-bottom: solid #e84b37 0.05rem;
   transition: all .5s;
}

.input:focus, #estado:focus, #descripcion:focus{
    background-color: #34434f;
    color:white;
}


.btn_submit, .btn_reset {
   width: 45%;
   border-color:#455868;
   background-color:#efefef;
   color:#34434f;
   border-radius: 25px;
}

.btn_submit:hover, .btn_reset:hover{
   background-color:#455868;
   color:white;
}

label {
   font-size:14px;
   color:#34434f;
   
   
}

.container .subcontainer{
    background-color: rgb(19, 42, 71);
    border-bottom: solid 1px #ccc;
    padding: 10px;
    margin: 0 auto;
}