html{
    font-family: 'Helvetica';
    font-size: 16px;  
}
body{
    padding: 5px;
    background-color: #ededed;
}
#menu {
    background-color: #455868;
    border-bottom: 5px solid #e84b37;
}

#menu ul{
    list-style: none;
    padding:0;
    margin: 0;
}

#menu li{
    display:inline-block;
    background-color: #455868;
}

#menu a{
    color:white;
    text-decoration: none;
    text-align: center;
    display:block;
    padding: 20px;
}

#menu ul li a:hover, #menu a:active{
    background: #e74c3c;
    color:white;
}

.item-r{
    float: right;
}

#menu ul li:hover .children{
    display: block;
}

#menu ul li .children{
    display:none;
    position: absolute;
    background-color: #455868;
    text-align: right;
    z-index: 1000;
} 

#menu li:hover .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#menu li:hover .children li a{
    display: block;
}

